
@font-face {
	font-family: 'icon';
	src: url('icon.eot');
	src: url('icon.eot?#iefix') format('embedded-opentype'),
		 url('icon.woff') format('woff'),
		 url('icon.ttf') format('truetype'),
		 url('icon.svg#icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'museo-sans-300';
	src: url('museo-sans-300.eot');
	src: url('museo-sans-300.eot?#iefix') format('embedded-opentype'),
		 url('museo-sans-300.woff2') format('woff2'),
		 url('museo-sans-300.woff') format('woff'),
		 url('museo-sans-300.ttf') format('truetype'),
		 url('museo-sans-300.svg#museo_sans300') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'museo-sans-500';
	src: url('museo-sans-500.eot');
	src: url('museo-sans-500.eot?#iefix') format('embedded-opentype'),
		 url('museo-sans-500.woff2') format('woff2'),
		 url('museo-sans-500.woff') format('woff'),
		 url('museo-sans-500.ttf') format('truetype'),
		 url('museo-sans-500.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ico-download:before {
  content: "\61";
}
.ico-github:before {
  content: "\62";
}
.ico-feature:before {
  content: "\63";
}
.ico-vision:before,
.ico-branch:before {
  content: "\64";
}
.ico-tutorial:before {
  content: "\65";
}
.ico-demo:before,
.ico-workflow:before {
  content: "\66";
}
.ico-refresh:before {
  content: "\67";
}
.ico-torrent:before {
  content: "\68";
}



::moz-placeholder {
	color: #545454;
}

::ms-input-placeholder {
	color: #545454;
}

::webkit-input-placeholder {
	color: #545454;
}

::placeholder {
	color: #545454;
}

::-moz-selection {
	color: #efefef;
	background: #32afe5;
}

::-ms-selection {
	color: #efefef;
	background: #32afe5;
}

::-webkit-selection {
	color: #efefef;
	background: #32afe5;
}

::selection {
	color: #efefef;
	background: #32afe5;
}

*[onclick] {
	cursor: pointer;
}



/*
 * LAYOUT
 */

body {
	margin: 0;
	padding: 0;
	color: #ffffff;
	background: #405050;
	font-family: 'museo-sans-300';
	overflow: hidden;
}

menu {
	display: block;
	position: fixed;
	top: 0px;
	right: auto;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 16px;
	background: #363f3e;
	width: 32px;
	overflow: hidden;
	transition: 300ms 300ms all ease-out;
}

menu > b {
	display: block;
	position: absolute;
	width: 32px;
	height: 24px;
	top: 20px;
	right: 16px;
	bottom: auto;
	left: auto;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}

menu > b > span {
	content: "";
	position: absolute;
	width: 32px;
	height: 2px;
	top: 0px;
	right: 0px;
	background: #ffffff;
}

menu > b > span:before {
	content: "";
	position: absolute;
	width: 32px;
	height: 2px;
	top: 11px;
	right: 0px;
	background: #ffffff;
}

menu > b > span:after {
	content: "";
	position: absolute;
	width: 32px;
	height: 2px;
	top: 22px;
	right: 0px;
	background: #ffffff;
}

menu:before {
	display: inline-block;
	position: absolute;
	top: 21px;
	right: auto;
	bottom: auto;
	left: 16px;
	content: "MENU";
	font-family: 'museo-sans-300';
	font-size: 20px;
	letter-spacing: 1px;
	opacity: 0;
	transition: 300ms all ease-out;
}

menu.active {
	display: block;
	width: 140px;
	transition: 300ms all ease-out;
}

menu.active:before {
	opacity: 1;
	transition: 300ms 300ms all ease-out;
}

menu > li {
	display: block;
	position: relative;
	width: auto;
	height: 32px;
	margin: 0px;
	padding: 0px 0px 0px 32px;
	opacity: 0;
	font-family: 'museo-sans-300';
	font-size: 16px;
	line-height: 32px;
	cursor: pointer;
	-moz-transition: 300ms all ease-out;
	-ms-transition: 300ms all ease-out;
	-webkit-transition: 300ms all ease-out;
	transition: 300ms all ease-out;
}

menu.active > li {
	width: 96px;
	margin: 0px auto;
}

menu > li:before {
	display: inline-block;
	position: absolute;
	box-sizing: border-box;
	content: "";
	width: 24px;
	height: 24px;
	margin: 0px;
	padding: 0px;
	top: 4px;
	right: auto;
	bottom: auto;
	left: 0px;
	border: 2px solid #545454;
	border-radius: 24px;
}

menu > li.active:before {
	-moz-transition: 300ms all ease-out;
	-ms-transition: 300ms all ease-out;
	-webkit-transition: 300ms all ease-out;
	transition: 300ms all ease-out;
	border: 2px solid #32afe5;
}

menu > li:nth-of-type(1) {
	margin-top: 48px;
}

menu > aside {
	position: absolute;
	top: auto;
	right: 0px;
	bottom: 32px;
	left: 0px;
	text-align: center;
}

menu > aside > a.button,
menu > aside > button,
menu > aside > a.button:not(.ico-only),
menu > aside > button:not(.ico-only) {
	display: block;
	position: static;
	width: 32px;
	min-width: initial;
	margin: 16px auto;
	padding: 0px 0px;
	overflow: hidden;
}

menu > aside > a.button:before,
menu > aside > button:before {
	margin: 0px;
	float: none;
}

menu > aside > a.button:after,
menu > aside > button:after {
	display: inline-block;
	content: "";
}

menu.active > aside > a.button,
menu.active > aside > button,
menu.active > aside > a.button:not(.ico-only),
menu.active > aside > button:not(.ico-only) {
	width: 112px;
	padding: 0px 8px;
}

menu.active > aside > a.button:before,
menu.active > aside > button:before {
	margin: 0px;
	float: left;
}

menu.active > aside > a.button:after,
menu.active > aside > button:after {
	content: attr(title);
}

menu.active > li {
	opacity: 1;
	transition: 300ms 300ms all ease-out;
}

main {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 32px;
	left: 64px;
	padding: 0px;
	-moz-transition: 300ms 300ms left ease-out;
	-ms-transition: 300ms 300ms left ease-out;
	-webkit-transition: 300ms 300ms left ease-out;
	transition: 300ms 300ms left ease-out;
	overflow: hidden;
}

menu.active ~ main {
	left: 144px;
	-moz-transition: 300ms left ease-out;
	-ms-transition: 300ms left ease-out;
	-webkit-transition: 300ms left ease-out;
	transition: 300ms left ease-out;
}

main > section {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	-moz-transform: translate(100%, 0%);
	-ms-transform: translate(100%, 0%);
	-webkit-transform: translate(100%, 0%);
	transform: translate(100%, 0%);
	-moz-transition: 300ms all ease-out;
	-ms-transition: 300ms all ease-out;
	-webkit-transition: 300ms all ease-out;
	transition: 300ms all ease-out;
	opacity: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

main > section.active {
	-moz-transform: translate(0%, 0%);
	-ms-transform: translate(0%, 0%);
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
	opacity: 1;
}

main > section {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
}

main > section > article {
	min-width: 256px;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

main > section > article:nth-child(1) {
	margin: 0px 16px 0px 32px;
	min-width: 256px;
	max-width: 256px;
}

main > section > article:nth-child(2) {
	margin: 0px 0px 0px 16px;
	overflow-x: auto;
	overflow-y: hidden;
	-moz-box-flex: 3;
	-webkit-box-flex: 3;
	-ms-flex: 3;
	-webkit-flex: 3;
	flex: 3;
}

footer {
	display: block;
	position: fixed;
	margin: 0px;
	padding: 8px;
	top: auto;
	right: 0px;
	bottom: 0px;
	left: 0px;
	color: #ffffff;
	background: #2f3736;
	font-family: 'museo-sans-300';
	font-size: 16px;
	line-height: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	z-index: 200;
}



/*
 * CONTENT
 */

article {
	margin: 16px;
	padding: 0px;
	font-family: 'museo-sans-300';
	color: #ffffff;
	background: #363f3e;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
}

article h3,
article h4 {
	display: block;
	height: 32px;
	line-height: 32px;
	margin: 0px;
	padding: 16px;
	background: #2f3736;
	font-family: 'museo-sans-300';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

article h3 b,
article h4 b {
	margin: 0px 16px 0px 0px;
	font-family: 'museo-sans-500';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: bold;
}

article h3 span,
article h4 span {
	float: right;
}

article > div,
article > p {
	margin: 16px;
}

article a,
footer a {
	color: #32afe5;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

article a.disabled {
	color: #545454;
	cursor: not-allowed;
}

article abbr {
	border-bottom: 1px dotted #545454;
	cursor: help;
}

article q {
	padding: 0px 4px;
	background: #1f2726;
}

article pre {
	margin: 16px;
	padding: 16px;
	background: #1f2726;
	overflow: auto;
}

article pre > code,
article pre > code.hljs {
	margin: 0px;
	padding: 0px;
}

article div.center,
article p.center {
	text-align: center;
}



/*
 * UI
 */

ul.select {
	width: 128px;
	margin: 0px;
	padding: 0px;
}

ul.select li {
	margin: 0px;
	padding: 0px;
	height: 32px;
	line-height: 32px;
	list-style: none;
	text-align: left;
	white-space: nowrap;
}

a.button {
	text-decoration: none;
}

a.button,
button {
	display: inline-block;
	width: auto;
	height: 32px;
	box-sizing: content-box;
	line-height: 32px;
	padding: 0px 8px;
	font-size: 16px;
	color: #ffffff;
	background: #545454;
	border: 0px solid transparent;
	font-family: 'museo-sans-300';
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	vertical-align: middle;
	outline: none;
	cursor: pointer;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

a.button:before,
button:before,
label:before {
	margin: 0px 8px 0px 0px;
	font-family: 'icon';
	font-size: 1.6em;
	font-weight: normal;
	font-variant: normal;
	text-align: left;
	text-transform: none;
	vertical-align: middle;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	float:left;
}

a.button.ico-only:before,
button.ico-only:before,
label.ico-only:before {
	margin: 0px;
}

a.button:not(.ico-only),
button:not(.ico-only) {
	min-width: 112px;
}

a.button:active,
button:active {
	background: #32afe5;
	-moz-transition: all 0ms;
	-ms-transition: all 0ms;
	-webkit-transition: all 0ms;
	transition: all 0ms;
}

a.button:not([href]),
a.button:not([href]):hover,
a.button:not([href]):focus,
button[disabled],
button[disabled]:hover,
button[disabled]:focus {
	color: #545454;
	background: #2f3736;
	cursor: not-allowed;
}


ul.select input[type="radio"] {
	display: none;
}

ul.select input[type="radio"] + label:before {
	display: inline-block;
	content: " ";
	box-sizing: border-box;
	width: 24px;
	height: 24px;
	line-height: 32px;
	margin: 0px 8px 0px 0px;
	padding: 0px;
	background: transparent;
	border: 2px solid #545454;
	border-radius: 32px;
	font-family: 'museo-sans-300';
	vertical-align: middle;
	outline: none;
	cursor: pointer;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

ul.select li input[type="radio"] + label {
	display: inline-block;
	width: auto;
	line-height: 24px;
	font-family: 'museo-sans-300';
	font-size: 18px;
	text-align: left;
	text-transform: none;
	vertical-align: middle;
	cursor: pointer;
}

ul.select input[type="radio"]:checked + label:before {
	border: 2px solid #32afe5;
}

ul.select input[type="radio"]:active + label:before {
	border: 2px solid #32afe5;
	-moz-transition: all 0ms;
	-ms-transition: all 0ms;
	-webkit-transition: all 0ms;
	transition: all 0ms;
}

table {
	width: 100%;
	margin: 0px auto;
	border-spacing: 2px 2px;
}

table th {
	margin: 0px;
	padding: 16px;
	font-family: 'museo-sans-300';
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	text-transform: uppercase;
	background: #2f3736;
}

table tr {
	margin: 0px;
}

table tr.div {
	height: 32px;
}

table td {
	margin: 0px;
	padding: 16px;
	background: #363f3e;
	font-family: 'museo-sans-300';
	font-weight: normal;
	text-align: left;
}

table td.div {
	background: transparent;
}

table td:first-child {
	font-family: 'museo-sans-500';
}

table td a.button,
table td button {
	margin: 0px;
}

table.vertical th {
	width: 96px;
}

table.vertical td {
	width: 224px;
	text-align: center;
}

table.vertical ul.select {
	margin: 0px auto;
}

table.vertical tr:last-child th,
table.vertical tr:last-child td {
	border-bottom: 2px solid #405050;
}



menu.active {
	width: 144px;
}
menu:before {
	content: 'lychee.js';
}
menu.active ~ main {
	left: 176px;
}
menu > aside {
	bottom: 56px;
}
main {
	bottom: 56px;
}
footer {
	line-height: 20px;
}
article pre {
	display: block;
	margin: 0px;
}
article code,
article code.hljs {
	display: inline-block;
	padding: 0.2em 0.4em;
	color: #ffffff;
	background: #1f2726;
	font-family: monaco, Consolas, 'Lucida Console', monospace;
	font-size: 14px;
	border-radius: 3px;
	vertical-align: middle;
}
#about,
#vision,
#features,
#workflow,
#install,
#faq {
	display: block;
}
#about-logo {
	display: block;
	margin: 128px auto;
	text-align: center;
}
#about-logo h1 {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 16px;
	line-height: 0px;
}
#about-logo h2 {
	display: inline-block;
	height: 128px;
	vertical-align: middle;
	margin: 0px 16px;
	padding: 0px;
	color: #efefef;
	font-family: 'museo-sans-300';
	font-size: 64px;
	font-weight: normal;
	line-height: 128px;
}
#about-logo h2 span {
	color: #d0494b;
}
#about-logo h3 {
	display: block;
	margin: 0px auto;
	padding: 0px;
	font-family: 'museo-sans-300';
	font-size: 24px;
	font-weight: normal;
}
#about-logo h4 {
	display: block;
	margin: 16px auto 32px auto;
	color: #efefef;
	font-family: 'museo-sans-300';
	font-size: 18.1px;
	font-weight: normal;
}
#about article,
#vision article,
#workflow article,
#install article,
#faq article {
	display: block;
	width: 600px;
	max-width: none;
	margin: 128px auto;
	text-align: left;
	border: 1px solid transparent;
}
#vision article svg,
#workflow article svg,
#install article svg,
#faq article svg {
	display: block;
	width: calc(100% - 64px);
	margin: 32px;
}
#vision svg text tspan,
#workflow svg text tspan,
#install svg text tspan {
	font-family: 'museo-sans-300';
	font-size: 20px;
}
#about article p,
#vision article p,
#workflow article p,
#install article p,
#faq article p {
	text-align: justify;
}
#about article p,
#vision article p,
#faq article p {
	margin: 32px;
}
#about article p.center,
#vision article p.center,
#workflow article p.center,
#install article p.center {
	text-align: center;
}
#about article p > a.button,
#about article p > button,
#vision article p > a.button,
#vision article p > button {
	display: inline-block;
	margin: 16px;
}

#features > div:first-child {
	margin-top: 96px;
}

main > section#features article,
main > section#features figure {
	display: inline-block;
	position: static;
	margin: 0px;
	vertical-align: top;
}

main > section#features article:nth-child(1),
main > section#features article:nth-child(2),
main > section#features article:nth-child(3),
main > section#features article:nth-child(4),
main > section#features article {
	min-width: 256px;
	max-width: calc(50% - 64px);
	width: auto;
	height: auto;
	margin: 32px;
	padding: 0px 0px 16px 0px;
}

main > section#features figure {
	margin: 32px;
	width: calc(50% - 64px);
	overflow: auto;
	float: right;
}

#features > div:after {
	display: block;
	visibility: hidden;
	font-size: 0px;
	content: " ";
	clear: both;
	height: 0px;
}

#features figure > pre {
	margin: 0px;
}


#workflow > article:first-child,
#install > article:first-child {
	margin: 128px auto 32px auto;
}
#workflow > article:last-child,
#install > article:last-child {
	margin: 32px auto 128px auto;
}
#workflow > div article {
	margin: 32px auto;
}
#workflow > div {
	display: block;
	min-width: 600px;
	max-width: 800px;
	margin: 32px auto;
}
#workflow > div h3 {
	font-family: 'museo-sans-300';
	font-size: 32px;
	font-weight: normal;
	text-align: center;
}
#workflow > div h3.left,
#workflow > div h3.right,
#workflow > div p.left,
#workflow > div p.right {
	display: inline-block;
	width: calc(50% - 16px);
	height: 5em;
	margin: 1em 0px;
}
#workflow > div p.left,
#workflow > div p.right {
	text-align: justify;
	margin: 0px 0px 32px 0px;
}
#workflow > div article.center {
	display: block;
}
#workflow > div article.left,
#workflow > div article.right {
	display: inline-block;
	width: calc(50% - 16px);
	min-height: 340px;
	margin: 0px 0px 32px 0px;
	background: #363f3e;
}
#workflow > div article img {
	display: block;
	margin: 32px auto;
	outline: none;
	border: 0px none;
}
#workflow > svg {
	display: block;
	margin: 0px auto;
}

#workflow h3.left,
#workflow p.left,
#workflow article.left {
	float: left;
}
#workflow h3.right,
#workflow p.right,
#workflow article.right {
	float: right;
}

#workflow > div:after,
#workflow > div article.clear:after {
	display: block;
	content: "";
	clear: both;
}

#about article ul,
#vision article ul,
#faq article ul {
	margin: 32px;
	padding: 0px 16px 0px 16px;
}

#about article ul li,
#vision article ul li,
#faq article ul li {
	margin: 0px 0px;
}


#bundles,
#examples,
#tutorials {
	overflow: auto;
}
#bundles article:nth-child(1),
#examples article:nth-child(1),
#tutorials article:nth-child(1) {
	min-width: 352px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#bundles article:nth-child(1) ul.select, 
#examples article:nth-child(1) ul.select, 
#tutorials article:nth-child(1) ul.select {
	width: auto;
	margin: 0px;
}
#bundles article:nth-child(1) p a.button,
#bundles article:nth-child(1) p button,
#examples article:nth-child(1) p a.button,
#examples article:nth-child(1) p button,
#tutorials article:nth-child(1) p a.button,
#tutorials article:nth-child(1) p button {
	min-width: 144px;
}
#bundles article:nth-child(2),
#examples article:nth-child(2),
#tutorials article:nth-child(2) {
	min-width: 512px;
	max-width: 800px;
}
#bundles article:nth-child(2) > article,
#examples article:nth-child(2) > article,
#tutorials article:nth-child(2) > article {
	margin: 0px;
}
#tutorials article:nth-child(2) {
	max-width: 832px;
}
#bundles article:nth-child(2) table th,
#examples article:nth-child(2) table th,
#tutorials article:nth-child(2) table th {
	width: 96px;
}
#bundles article:nth-child(2),
#examples article:nth-child(2),
#tutorials article:nth-child(2) {
	overflow-x: hidden;
	overflow-y: auto;
}
#bundles article:nth-child(2) h1, 
#examples article:nth-child(2) h1, 
#tutorials article:nth-child(2) h1 {
	margin: 128px 16px 32px 16px;
	font-size: 32px;
}
#bundles article:nth-child(2) h1:first-of-type, 
#examples article:nth-child(2) h1:first-of-type, 
#tutorials article:nth-child(2) h1:first-of-type {
	margin-top: 32px;
}
#bundles article:nth-child(2) h2,
#examples article:nth-child(2) h2,
#tutorials article:nth-child(2) h2 {
	margin: 128px 16px 32px 16px;
	font-size: 32px;
}
#examples article:nth-child(2) img,
#tutorials article:nth-child(2) img {
	display: block;
	margin: 32px auto;
	max-width: 100%;
	border: 1px solid #ffffff;
}
#tutorials article:nth-child(2) h4 {
	margin: 64px 16px 32px 16px;
	font-size: 24px;
}

@media (max-width: 712px) {
	menu {
		padding: 0px;
		border-right: 1px solid #ffffff;
		z-index: 2;
	}
	menu:before,
	menu > b {
		top: 8px;
	}
	menu > b {
		width: 24px;
		height: 24px;
		right: 5px;
	}
	menu > b > span,
	menu > b > span:before,
	menu > b > span:after {
		width: 24px;
	}
	#workflow > article,
	#workflow article.center,
	#workflow > div {
		min-width: initial;
		max-width: initial;
		width: auto;
	}
	#workflow > div h3.left,
	#workflow > div h3.right {
		height: 1em;
		word-break: break-all;
		overflow: hidden;
	}
	#workflow > div h3.left,
	#workflow > div h3.right,
	#workflow > div p.left,
	#workflow > div p.right,
	#workflow > div article.left,
	#workflow > div article.right {
		width: calc(50% - 2px);
		margin-left: 0px;
		margin-right: 0px;
		border: 0px solid transparent;
	}
	#about article,
	#vision article,
	#install article,
	#faq article {
		width: auto;
	}
	#vision article svg,
	#workflow article svg,
	#workflow > svg,
	#workflow > div article img,
	#install article svg,
	#faq article svg {
		width: 100%;
		margin: 0px;
	}
	#about article div,
	#about article p,
	#vision article div,
	#vision article p,
	#workflow article div,
	#workflow article p,
	#install article div,
	#install article p,
	#faq article div,
	#faq article p {
		margin-left: 4px;
		margin-right: 4px;
	}
	menu > aside {
		bottom: 0px;
	}
	header {
		left: 32px;
	}
	main {
		bottom: 0px;
		left: 32px;
		z-index: 1;
	}
	menu.active ~ main {
		left: 144px;
	}
	footer {
		display: none;
	}
}

@media (max-height: 660px) {
	menu > aside {
		bottom: 0px;
	}
	main {
		bottom: 0px;
	}
	footer {
		display: none;
	}
}

@media (max-height: 360px) {
	#about-logo {
		margin: 0px auto;
	}

	menu > aside > a.button,
	menu > aside > button,
	menu > aside > a.button:not(.ico-only),
	menu > aside > button:not(.ico-only) {
		margin: 2px auto;
	}
}

@media (max-height: 320px) {
	menu.active > aside > a.button,
	menu.active > aside > button,
	menu.active > aside > a.button:not(.ico-only),
	menu.active > aside > button:not(.ico-only) {
		display: inline-block;
		width: 24px;
	}
	menu.active > aside > a.button:after,
	menu.active > aside > button:after,
	menu.active > aside > a.button:not(.ico-only):after,
	menu.active > aside > button:not(.ico-only):after {
		display: none;
		content: "";
	}
}

@media (max-height: 256px) {
	menu > li {
		font-size: 16px;
		line-height: 16px;
		height: 16px;
		padding: 0px 0px 0px 16px;
	}
	menu > li:before {
		width: 14px;
		height: 14px;
		top: 1px;
	}
}

